
<div class="container">
  <div class="row">
    <h2>Evaluations Dashboard</h2>


    <h4>All submitted papers </h4>
    <%  @student_papers.each do |paper| %>
    <%= paper.title %>
    <%end%>

    <% if @evaluated_paper %>
      <% if @evaluated_paper.assignment.deadline < Date.today %>
        <div>
          <p>The assignment you have to review will displayed on <%= @evaluated_paper.assignment.deadline %></p>
        </div>
      <%else%>
        <h2>You will evaluate</h2>
        <!-- TODO: create a nice button for the download -->
        <%= link_to "Download", @evaluated_paper.attachment.url, target: '_blank' %>
        <%= @evaluated_paper.title %>
      <%end%>
    <%end%>




    <br>
    <br>


    <h4>Evaluated assignments: </h4>

  </div>
</div>
