<div class="container">
  <div class="row">
    <h2>Evaluations Dashboard</h2>

    <h4>You have to evaluate: </h4>
    <%  student_papers = [] %>
    <%  @papers.each do |paper|%>
    <%  student_papers << paper  if paper.student = current_student %>
    <% end %>
    <% student_papers.each do |paper| %>
    <% to_evaluate = @papers.first %>


    <% if (to_evaluate.assignment.deadline == paper.assignment.deadline && to_evaluate.assignment.topic == paper.assignment.topic) && (to_evaluate.student.classroom == paper.student.classroom && paper.student != current_student) %>

    <%= to_evaluate.title %>

    <% end %>
    <% end %>









    <h4>old code:</h4>

    <% @papers.each do |paper| %>
    <% if paper.student.classroom == current_student.classroom %>
    <ul>
      <li><%= paper %> <%= link_to 'Evaluate', new_evaluation_path, class: 'btn btn-success' %></li>
    </ul>
    <% end %>
    <% end %>

    <br>
    <br>


    <h4>Evaluated assignments: </h4>

  </div>
</div>
