 <h2> This is a test page for graphs </h2>
  <div class="container">
  <h5>This is a test for Linecharts</h5>


<div class="row">
  <div class="col-xs-6">
    <h3>Test Graph Title</h3>
    <%= line_chart @chart_input, xtitle: "Final grade", ytitle: "Date" %>
  </div>
</div>








  </div>
