
 <h2> Student Dashboard</h2>
  <div class="container">


<div class="row">
  <div class="col-xs-6">

    <h3>Student Grades Evolution</h3>
    <%= line_chart @student_grades_history, xtitle: "Final grade", ytitle: "Date" %>

    <h3>Last paper performance details</h3>
    <%= bar_chart @paper_chart_input, xtitle: "Evaluation criteria", ytitle: "Grade" %>



  </div>
</div>








  </div>
