// Specific CSS for your home-page
.content-wraper {
  padding: 30px;
  margin: 50px 0px;
  background: white;
}

.landing-page-paper img {
  height: 400px;

}

.btn-blue {
    margin-right: 0px;
    padding: 10px 34px 10px 20px;
    float: left;
    border: 1px solid #48afb8;
    border-radius: 3px;
    background-color: #48afb8;
    background-position: 92% 50%;
    background-size: 16px;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 3px;
    cursor: pointer;
}

.btn-blue-1 {
    margin-right: 0px;
    padding: 10px 34px 10px 20px;

    border: 1px solid #48afb8;
    border-radius: 3px;
    background-color: #48afb8;
    background-position: 92% 50%;
    background-size: 16px;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 3px;
    cursor: pointer;
}

.btn-red {
    margin-right: 0px;
    padding: 10px 34px 10px 20px;
    float: left;
    border: 1px solid #ce2a55;
    border-radius: 3px;
    background-color: #ce2a55;
    background-position: 92% 50%;
    background-size: 16px;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 3px;
    cursor: pointer;
}

