
.weak {
  font-weight: 100;
}

.student_input {

  input {
      opacity: 1;
    }
}

.card-inverse {
  border-top: 0.2px;
  border-right: 0.2px;
  border-bottom: 0.2px;

  border-left: solid 3px;
  padding: 0px;
  box-shadow: 0px 1px 1px rgba(28, 89, 121, 0.4);
  border-radius: 0px;
  margin-bottom: 10px;
}

 .urgent {
  border-color: #DD105E;
  }

 .upcoming {
  border-color: black;
  }

.past {
  border-color: black;
  }

.todo {
  border-color: #E67E22;
}
