<% if teacher_signed_in? %>

<div id="mn-wrapper">
  <div class="mn-sidebar">
    <div class="mn-toggle"><i class="fa fa-bars"></i></div>
    <div class="mn-navblock">
      <ul class="mn-vnavigation">

        <li class="dropdown-submenu active">
          <a tabindex="-1" href="#"><i class="fa fa-graduation-cap" aria-hidden="true"></i></a>
          <ul class="dropdown-menu">
            <li><a tabindex="-1" href="#">Pre-advice</a></li>
            <li><a href="#">holaa</i></a></li>
            <li><a href="#">Research</a></li>
            <li><a href="#">Implementation</a></li>
            <li><a href="#">Review</a></li>
            <li><a href="#">Execution Only</a></li>
          </ul>
        </li>

            <li class="dropdown-submenu active">
          <a tabindex="0" href="#"><i class="fa fa-tasks" aria-hidden="true"></i></a>
          <ul class="dropdown-menu">
            <li><a tabindex="-1" href="#">Guide</a></li>
            <li><a href="#">List all this shi</i></a></li>
            <li><a href="#">Ask</a></li>
            <li><a href="#"></a></li>
            <li><a href="#">Review</a></li>
            <li><a href="#">Execution</a></li>
          </ul>
        </li>

      <li class="dropdown-submenu active">
        <a href="#"><i class="fa fa-area-chart" aria-hidden="true"></i></a>
        <ul class="dropdown-menu">
            <li><a tabindex="1" href="#">Guide</a></li>
            <li><a href="#">List all this shi</i></a></li>
            <li><a href="#">Ask</a></li>
            <li><a href="#"></a></li>
            <li><a href="#">Review</a></li>
            <li><a href="#">Execution</a></li>
          </ul>
        </li>
      </ul>
    </div>
</div>

<% end %>
<!-- <!DOCTYPE html>
<html>
<body>

<ul>
  <nav class="navigation">
  <ul class="mainmenu">
     <li><a href="">Students</a>
      <ul class="submenu">
        <li><a href="">Messi</a></li>
        <li><a href="">Messi</a></li>
        <li><a href="">Messi</a></li>
        <li><a href="">Messi</a></li>
        <li><a href="">Messi</a></li>
        <li><a href="">Messi</a></li>
        <li><a href="">Messi</a></li>
        <li><a href="">Messi</a></li>
        <li><a href="">Messi</a></li>
      </ul>
    </li>
     <li><a href="">Assignments</a>
      <ul class="submenu">
        <li><a href="">Play football</a></li>
        <li><a href="">Play football</a></li>
        <li><a href="">Play football</a></li>
        <li><a href="">Play football</a></li>
        <li><a href="">Play football</a></li>
        <li><a href="">Play football</a></li>
        <li><a href="">Play football</a></li>
        <li><a href="">Play football</a></li>
        <li><a href="">Play football</a></li>
      </ul>
    </li>    <li><a href="">Secret feature</a>
      <ul class="submenu">
        <li><a href="">Tops</a></li>
        <li><a href="">Bottoms</a></li>
        <li><a href="">Footwear</a></li>
        <li><a href="">Tops</a></li>
        <li><a href="">Bottoms</a></li>
        <li><a href="">Footwear</a></li>
        <li><a href="">Tops</a></li>
        <li><a href="">Bottoms</a></li>
        <li><a href="">Footwear</a></li>
      </ul>
    </li>

  </ul>
</ul>
</body>
</html>
-->
