
<% if teacher_signed_in? || student_signed_in? %>
  <div id="mn-wrapper">
    <div class="mn-sidebar">
      <div class="mn-toggle"><i class="fa fa-bars"></i></div>
      <div class="mn-navblock">
        <ul class="mn-vnavigation">

          <li class="dropdown-submenu">
            <a tabindex="-1" href="#"><i class="fa fa-graduation-cap fa-2x" aria-hidden="true"></i></a>
            <ul class="dropdown-menu">
              <li><a tabindex="-1" href="#">My Profile</a></li>
              <li><a href="#">Edit Profile</a></li>
              <li><a href="#">My Evaluations</a></li>
              <li><a href="#">My Classroom</a></li>
            </ul>
          </li>

          <li class="dropdown-submenu">
            <a tabindex="0" href="#"><i class="fa fa-tasks fa-2x" aria-hidden="true"></i></a>
            <ul class="dropdown-menu">

              <li><a tabindex="-1" href="#">Assignments overview</a></li>
              <li><a href="#">Evaluations overview</a></li>
              <li><a href="#">To Do Evaluations</a></li>
            </ul>
          </li>

          <li class="dropdown-submenu">
            <a href="#"><i class="fa fa-area-chart fa-2x" aria-hidden="true"></i></a>
            <ul class="dropdown-menu">
              <li><a tabindex="1" href="#">Statistics</a></li>
              <li><a href="#">Overview</i></a></li>
              <li><a href="#">Feedback</a></li>

            </ul>
          </li>
        </ul>
      </div>
    </div>
  <% end %>
<!-- <!DOCTYPE html>
<html>
<body>

<ul>
  <nav class="navigation">
  <ul class="mainmenu">
     <li><a href="">Students</a>
      <ul class="submenu">
        <li><a href="">Messi</a></li>
        <li><a href="">Messi</a></li>
        <li><a href="">Messi</a></li>
        <li><a href="">Messi</a></li>
        <li><a href="">Messi</a></li>
        <li><a href="">Messi</a></li>
        <li><a href="">Messi</a></li>
        <li><a href="">Messi</a></li>
        <li><a href="">Messi</a></li>
      </ul>
    </li>
     <li><a href="">Assignments</a>
      <ul class="submenu">
        <li><a href="">Play football</a></li>
        <li><a href="">Play football</a></li>
        <li><a href="">Play football</a></li>
        <li><a href="">Play football</a></li>
        <li><a href="">Play football</a></li>
        <li><a href="">Play football</a></li>
        <li><a href="">Play football</a></li>
        <li><a href="">Play football</a></li>
        <li><a href="">Play football</a></li>
      </ul>
    </li>    <li><a href="">Secret feature</a>
      <ul class="submenu">
        <li><a href="">Tops</a></li>
        <li><a href="">Bottoms</a></li>
        <li><a href="">Footwear</a></li>
        <li><a href="">Tops</a></li>
        <li><a href="">Bottoms</a></li>
        <li><a href="">Footwear</a></li>
        <li><a href="">Tops</a></li>
        <li><a href="">Bottoms</a></li>
        <li><a href="">Footwear</a></li>
      </ul>
    </li>

  </ul>
</ul>
</body>
</html>
-->

