<div class="banner-lg" style="background-image: url('http://images.hellogiggles.com/uploads/2016/03/05022301/shutterstock_161761718-700x525.jpg')">
</div>
<div class="container">
  <div class="row">
    <h1>Providing Students with Meaningful Feedback</h1>
    <div class="message">
      <img class="avatar-author" src="https://kitt.lewagon.com/placeholder/users/ruffeng">
      <div class="message-name">
        <h3>Ruben Suet</h3>
        <p>CTO of PeerView
        </div>
      </div>
    </div>
    <div class="line-divider" style="margin-left: 0px;">
    </div>
    <br>
    <br>
    <div class="row">
      <p class="lead">In recent years, research has confirmed what most teachers already knew: providing students with meaningful feedback can greatly enhance learning and improve student achievement.
      </p>
      <p class="blog">Professor James Pennebaker from the University of Texas at Austin has been researching the benefits of frequent testing and the feedback it leads to. He explains that in the history of the study of learning, the role of feedback has always been central.
      </p>
      <p class="blog">When people are trying to learn new skills, they must get some information that tells them whether or not they are doing the right thing. Learning in the classroom is no exception. Both the mastery of content and, more importantly, the mastery of how to think require trial-and-error learning.
      </p>

      <p class="blog">A research project from the University of Minnesota showed that students who received lots of immediate feedback were better able to comprehend the material they had just read.The importance of involving learners in the process of collecting and analyzing performance-based data cannot be understated. Students must be given access to information about their performance . . . At the broadest level, students need to know if they actually have mastered the material or not. Giving them information about the ways they are studying, reading, searching for information, or answering questions can be invaluable.
      </p>

      <p class="blog">When students have access to this information, they develop an awareness of their learning, and are more easily able to recognize mistakes and eventually develop strategies for tackling weak points themselves.
      </p>

      <p class="blog"> <i>It is widely recognised that feedback is an
        important part of the learning cycle</i>, but both
        students and teachers frequently express
        disappointment and frustration in relation to the
        conduct of the feedback process. Students may
        complain that feedback on assessment is
        unhelpful or unclear, and sometimes even
        demoralising. Additionally, students sometimes
        report that they are not given guidance as to how
        to use feedback to improve
      subsequent performance..</p>

    </div>
    <br>
    <br>
    <div class="a button-wrapper" style="margin-bottom: 45px;">
      <%= link_to 'Get started', sign_up_path, class: 'button-peer-white' %>
    </div>
  </div>
