<div class="banner" style="background-image: url('https://img00.deviantart.net/dacb/i/2012/164/d/f/harder__better__faster__stronger_by_erendrym-d53b3na.jpg')">
</div>
<div class="container">
  <div class="row">
    <h1>Following Academic Research</h1>
    <div class="message">
      <img class="avatar-author" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">
      <div class="message-name">
        <h3>Fabr Dehan</h3>
        <p>CTO of PeerView
      </div>
    </div>
  </div>
      <div class="line-divider" style="margin-left: 0px;">
    </div>
  <div class="row">
    <p class="lead">Lorem ipsum dolor sit amet, ceteros scribentur vim et, an accusamus disputationi deterruisset vel. Nisl graeco reprimique ut has, ea quis dicat vulputate eos. Est homero adolescens no, his quot detracto in. Platonem facilisis dissentiet in sed. Summo pericula consequuntur ea his, in eum suas posidonium persequeris. An sea maluisset abhorreant, id pri brute munere percipitur.
    </p>
    <p>Qui putent possit no. Ea has erant alienum, eam at decore altera noluisse. In sit sonet delenit interesset. Duo ex reque persecuti. Id duo noster albucius maluisset, nec doming gubergren at, sed graecis phaedrum eu. Veniam nemore per cu, ne nisl apeirian rationibus quo. Mel posse dicat te.
    </p>
    <p>Idque causae nostrum id per, eu eum reque illum ipsum. Eu nam aeque paulo fuisset, at debet dolores intellegat has. Ei lobortis erroribus consectetuer duo. Erant nominavi cum cu, et aeque primis salutatus eam. Omnis partem eripuit ne vis, cu eripuit tincidunt pro. Idque clita maiestatis nec ad, at nisl dico porro ius.
    </p>

    <p><strong>Ex clita tantas mediocrem ius.</strong> Dicunt dolorem mei no, vis ad primis essent accusata. Ut munere impetus sadipscing eum. Ex accusata consulatu deseruisse eum, id alii ferri aliquid qui, periculis prodesset ne per.
    </p>
    <p>Nemore possim mentitum ad mei. Ea per suas eius, meis nusquam molestie ea eos. Ei delenit temporibus vis, nam ea aperiam senserit euripidis. Mel no mazim meliore, ei malis legere postulant nec. At wisi nostrud feugait usu, dico magna liberavisse an quo. Eos quas omnes urbanitas at, ocurreret maiestatis ei vel, eu eum dicat utroque imperdiet.
    </p>
    <p>Ad dicam senserit vel, sea aliquid philosophia ad. Vix in blandit adipisci explicari, mea liber efficiendi scriptorem cu. Eam delectus conceptam eu, aliquip interpretaris ea sea. Prima virtute nostrud per in. Falli semper mei ex, nisl enim persequeris no mel.
    </p>
    <p>Eu sit fugit labores philosophia, iisque iracundia omittantur et pri, case solum mandamus mea ad. Pri simul lucilius antiopam no, ei duis nostro patrioque mei. Ne elit vivendum expetenda has, mel singulis liberavisse in, augue causae audire et cum. Tincidunt democritum sea id, modus munere postulant sed ei.
    </p>
    <p><strong>An nam choro euismod.</strong>An nam choro euismod. Ius aliquip regione hendrerit ut, sea ut magna malorum conceptam, mei ut nisl elitr. Dicant luptatum consulatu pro ea, mea ne verear delectus. In doctus rationibus sed. Qui et imperdiet mnesarchum complectitur, assum rationibus ad ius, alia disputando est ad. Putant detraxit efficiendi id mea, eum nibh nobis an. Quo deleniti voluptaria eu.</p>
    <p>Ea est mandamus consequuntur. Ex quo temporibus consequuntur reprehendunt, ei mollis blandit consectetuer qui. Regione delenit torquatos eos eu, cu scripta regione eum. Persius labores accusata mea an, labitur aliquid cum ea. Dicit repudiandae interpretaris ea sit, altera nostrud in vis. Eum ea simul nusquam.</p>
  </div>
  <div class="a button-wrapper" style="margin-bottom: 45px;">
    <%= link_to 'Get started!', sign_up_path, class: 'button-peer-white' %>
  </div>
</div>
