<div class="banner">
<div class="row">

</div>

<div class="col-xs-12 col-md-3">
    <div class="card">
      <h1>Awesome feedback</h1>
      <p>Improve peer-to-peer feedback in your institution</p>
    </div>
  </div>

  <div class="col-xs-12 col-md-3">
    <div class="banner-image">
      <%= image_tag "learn.jpg" %>
    </div>
  </div>

  <div class="col-xs-12 col-md-3">
    <a class="btn btn-default btn-lg">Get started</a>
  </div>

</div>


