<div class="banner">
  <div class="row">


    <div class="col-xs-12 col-md-4">
      <div class="banner-card">
        <h1>Awesome feedback</h1>
        <p>Improve peer-to-peer feedback in your institution</p>
      </div>
    </div>

    <div class="col-xs-12 col-md-4">
      <div class="banner-image">
        <%= image_tag "learn.jpg" %>
      </div>
    </div>

    <div class="col-xs-12 col-md-4">
      <div class="banner-card">
      <h1>Get started!</h1>
        <a class="btn btn-danger btn-lg">Learn more</a>
      </div>
    </div>

  </div>
</div>


