<div class="banner">
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <div class="banner-card">
        <h1>Awesome feedback</h1>
      </div>
    </div>

    <div class="col-xs-12 col-md-4">
      <div class="banner-image">
        <%= image_tag "learn.jpg" %>
      </div>
    </div>

    <div class="col-xs-12 col-md-4">
      <div class="banner-card">
       <p>Improve peer-to-peer feedback in your institution</p>
       <%= link_to 'Get started', sign_up_path, class: 'btn btn-default' %>
     </div>
   </div>
 </div>
</div>

<div class="container">
  <div class="row">
    <div class="text-center">
      <h2>Understanding Peer View</h2>
      <hr>
    </div>

    <div class="col-xs-12 col-md-4">
      <div class="banner-card">
        <p>Stage 1</p>
        <h5><strong>Creating the assignment</strong></h5>
        <p>Teacher creates an assignment for the class - with a deadline</p>
      </div>
    </div>

    <div class="col-xs-12 col-md-4">
      <div class="banner-card">
        <p>Stage 2</p>
        <h5><strong>Uploading the assignment</strong></h5>
        <p>Students get the assignment and can upload their report</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="banner-card">
        <p>Stage 3</p>
        <h5><strong>Giving feedback to colleageus</strong></h5>
        <p>Students pick colleagues' assignments and evaluate</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="banner-card">
        <p>Stage 4</p>
        <h5><strong>Viewing evaluations</strong></h5>
        <p>Students receive and check their peer evaluations</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="banner-card">
        <p>Stage 5</p>
        <h5><strong>Accessing feedbacks</strong></h5>
        <p>Teachers get a complete report on assignments and feedbacks</p>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="banner-card">
        <p>Stage 6</p>
        <h5><strong>Getting full report</strong></h5>
        <p>Teachers get a ful analysis report on all assignments combined</p>
      </div>
    </div>
  </div>
</div>
</div>

