<div class="container">
  <div class="row">
    <h2>All uploaded papers</h2>

    <% @assignment.papers.each do |file| %>
    <h5><%= file.student.first_name  %> <%= file.student.last_name  %> - <%= link_to "SHOW",file.attachment.url, target: '_blank' %> </h5>

    <% end %>
  </div>
</div>
