/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
  border: none;
  width: 94%;
}
.alert-info {
  background: #00939d;
}
.alert-warning {
  background: #ce2a55;
}
