
.card-container {
  width: 97%;
  margin: 20px;
}


.card-classroom {
  display: grid;
  grid-template-columns: 120px 1fr;
  grid-template-rows: 50% 50%;
  border: solid 1px #F8F8F8;
  box-shadow: 1px 1px 1px 1px  rgba(0,0,0,0.3);
  padding: 10px;
  margin: 10px 5px;
}

.element {
  grid-row: 1 / span 2;
  grid-column: 1 /span 1;
}

.other-element1 {
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
}
.other-element2 {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
}

.avatar-small {
  border-radius: 50%;
  height: 90px;
  width: 90px;
}

.card-header {
  background-color: #F8F8F8;
  h4 {
  color: black;
  }
}

.card-body {
  background-color: white;
  padding: 20px;
}
