.form-login {
  background: white;
  border: 1px solid #48afb8;
  padding: 10px 20px;
  margin-top: 85px;
  margin-bottom: 150px;
  border-radius: 4px;
  box-shadow: 2px 2px 8px 0 rgba(0,0,0,.1);
h2 {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}

.btn {
  width: 100%;
  margin-bottom: 20px;
  }
}

