
.dropdown-submenu {
  border-bottom: 1px solid #353535;

}
.dropdown-submenu:hover {
  background-color: #5E5E5E;

}
#mn-wrapper {
  display: table;
  width: 100%;
  position: absolute;
  height: 100%;
}
.mn-sidebar {
  display: table-cell;
  position: relative;
  vertical-align: top;
  padding-bottom: 0px;
  background: #353535;
  width: 5%;
}
#mn-cont {
  display: table-cell;
  vertical-align: top;
  position: relative;
  padding: 0;
}
.cnt-mcont {
  background-color: #747474;
  font-size: 13px;
  font-weight: 900;
  line-height: 21px;
  padding: 15px 30px 30px 30px;
  margin-top: 0;
  height: 100%;
}
.mn-sidebar .mn-toggle {
  display: none;
  padding: 10px 0;
  text-align: center;
  cursor: pointer;

}
.mn-vnavigation {
  margin: 0 0 0 0;
  padding: 0;

}
.mn-vnavigation li a {
  border-top: 1px solid #32353e;
  border-bottom: 1px solid #1a1c20;
  display: block;
  padding: 14px 28px 13px 25px;
  color: white;
  text-decoration: none;
  font-size: 12px;
  font-weight: 300;
}
.dropdown-submenu >
.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: -1px;
  background: #353535;
}

a[tabindex='0']~.dropdown-menu {
  top: 55px;
}

a[tabindex='1']~.dropdown-menu {
  top: 110px;
}

.dropdown-submenu:hover >
.dropdown-menu {
  display: block;
}
.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: white;
  margin-top: 5px;
  margin-right: -10px;
}
.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}
.dropdown-submenu.pull-left {
  float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}
ul {
  list-style: none;
}
ul.dropdown-menu.parent {
  margin-top: -1px;
}
.bottom-mn {
  bottom:0px;
  position:absolute;
  width:100%;
}

.fa {
  color: white;
}

.fa-star {
  color: #52C4CE;
}

.fa-star-o {
  color: #52C4CE;

}
